* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#highlight {
  border-bottom: 2px solid black;
  color: black;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.top-menu {
  display: flex;
  height: 60px;
  padding: 0;
  width: 100%;
  justify-content: space-between ;
  border-bottom: solid 1px;
  position: fixed;
  background-color: rgb(76, 82, 87);
  z-index: 99999;
  font-size: 20px;
  margin-bottom: 60px;
}

.top-menu .page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-weight: 600;
  width: 35%;

}

.top-menu .page a {
  color: white;
}

.top-menu .page a:hover {
  text-decoration: none;
}

.top-menu .icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-menu .icon a {
  text-decoration: none;
  color: white;
}

.top-menu .icon i {
  padding: 21px 16px;
  cursor: pointer;
  font-size: 19px;
}

.dropdown {
  float: left;
  overflow: hidden;
  
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  align-content: center;
  display: none;
  position: absolute;
  background-color: #fd3b00;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.lines {
  border-left: 1px solid white;
  height: 36px;
}



.main-content .selector {
  padding: 16px 0px;
  text-align: center;
}

.main-content .selector a {
  font-size: 17px;
  font-weight: 500;
  color: #989898;
  padding: 12px 22px;
}
.tab {
  display: flex;
  width: 100%;
}
#Cate1 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 2.5em 0;
  justify-content: center;
  align-items: center;
}
#Cate2 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 2.5em 0;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 23%;
  text-align: center;
  height: 35%;
}
#Cate3 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 2.5em 0;
  justify-content: center;
  align-items: center;
}

.grid-x5 {
  /*   width: 20%; */
  display: inline-block;
  vertical-align: top;
  text-align: left;

  margin: 6px;
}

.book-card {
  width: 250px;
  height: 400px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  padding-bottom: 15px;
  vertical-align: top;

  border: 1px solid #b7b7b7;
}

.book-card__image {
  width: 100%;
  height: 150px;
}

.book-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-title {
  margin: 0;
  padding: 15px;
  height: 22%;
  width: 100%;
  justify-content: space-around;
  font-size: 14px;
}

.book-copy {
  margin: 0;
  padding: 0 15px;
  font-size: 11px;
  color: #b7b7b7;
  height: 25%;
}

.book-link {
  margin-left: 15px;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #b7b7b7;
  padding: 3px 12px;
  color: #b7b7b7;
  border-radius: 5px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  height: 380px;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.book-price {
  margin-left: 2.5rem;
  text-decoration: none !important;
  color: black;
  font-size: 1.2em;
}
.book-price:hover {
  color: red;
}


.item-detail {
  height: 60vh;
  width: 100px !important;
  padding-top: 80px;
}
.item-detail-content {
  height: 100%;
}
.book-img {
  width: 40%;
  height: 70%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
}
.item-detail-content {
  display: flex;
}
.content-left {
  width: 40%;
  height: 100%;
}
.content-right {
  width: 60%;
  font-size: larger;
}

.AddToCart {
  width: 60px;
  height: 30px;
  background-color: rgb(255, 98, 42);
  border: none;
  border-radius: 3px;
  color: whitesmoke;
}
.AddToCart:hover {
  opacity: 0.7;
}